<section class="section">
  <div class="columns" data-controller="comparison">
    <div class="column is-one-fifth">
      <h3 class="title is-3">Product Picker</h3>
      <div id="product-select-form">
        <%= render 'selection_form' %>
      </div>
    </div>
    <div class="table-container column columns__column--no-padding-left">
      <%= render(partial: 'comparison_table') %>
    </div>
    <div class="column is-2 has-text-centered">
      <h3 class="subtitle is-3">Options</h3>
      <label class="checkbox">
        <%= check_box_tag "covered_benefits", "covered_benefits", false, data: {
          "comparison-target": 'option', action: 'change->comparison#setOptions' 
        } %>
        Show only covered benefits
      </label>
      <h3 class="subtitle is-3">Export</h3>
      <div id="excel-export">
        <%= render(
          partial: 'excel_export',
          locals: { comparison_products: @comparison_products, options: @options }
        ) %>
      </div>
    </div>
  </div>
</section>
