<section class="section">
  <div class="columns">
    <div class="column is-one-fifth">
      <h3 class="title is-3">Product Picker</h3>
      <div data-controller="health-comparison-product-select">
        <%= form_with(url: comparison_products_path) do |form| %>
          <div class="field">
            <div class="control">
              <div class="select">
                <%= form.select "comparison_product[insurer]", options_from_collection_for_select(Insurer.order(:name), "id", "name"), {prompt: 'Select Insurer...'}, data: {target: 'health-comparison-product-select.insurer', action: 'change->health-comparison-product-select#getProducts'}, id: 'insurer-select' %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <div class="select product-select">
                <%= form.select "comparison_product[product]", options_for_select([]), {prompt: 'Select Product'}, data: { target: 'health-comparison-product-select.product', action: 'change->comparison-select#getProductModules' }, id: 'product-select' %>
              </div>
            </div>
          </div>
          <div id="product-modules" data-target="comparison-select.productModules">
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit "Load Benefits", class: 'button is-primary', data: { action: 'click->comparison-select#loadBenefits' } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
