<section class="section">
  <div class="columns" data-controller="comparison comparison-product comparison-export">
    <div class="column is-one-fifth">
      <h3 class="title is-3">Product Picker</h3>
      <div id="product-select-form">
        <%= render 'selection_form' %>
      </div>
    </div>
    <div class="table-container column columns__column--no-padding-left">
      <%= render(partial: 'comparison_table') %>
    </div>
    <div class="column is-2 has-text-centered">
      <h3 class="subtitle is-3">Options</h3>
      <label class="checkbox">
        <%= check_box_tag "covered_benefits", "covered_benefits", false, data: { "comparison-export-target": 'option' } %>
        Show only covered benefits
      </label>
      <h3 class="subtitle is-3">Export</h3>
      <button class="button is-large" data-action="click->comparison-export#excelExport">
        <span class="icon is-medium"><i class="fas fa-file-excel"></i></span>
      </button>
    </div>
  </div>
</section>
